body {
    font: 32px Helvetica;
    background: #999999;
}

#main {
    min-height: 360px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    font-size: 22px;
}

#main > article {
    padding: 20px;
    border: 1px solid black;
    background: turquoise; /* the original color was gross, so I changed it */
    flex: 3 1 60%;
    order: 2;
}

#main > nav {
    padding: 20px;
    border: 1px solid black;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
    text-align: right;
}

#main > aside {
    padding: 20px;
    border: 1px solid black;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
    font-style: italic;
}

header {
    display: block;
    padding: 25px;
    min-height: 40px; /* 90px minus padding */
    border: 1px solid black;
    background: #ffeebb;
    font-weight: bold;  /*change this to use h1 tag instead? (if so, might need to mess with h1's margins/padding) */
}

footer {
    display: block;
    padding: 20px;
    min-height: 50px; /* 90px minus padding */
    border: 1px solid black;
    background: #ffeebb;
    font-size: 10px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > aside {
    /* Return them to document order */
        order: 1;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }

    #main > nav {
        order: 0;
        text-align: left;
        min-height: 80px;
    }

    #main > article {
    	min-height: 200px;
    	max-height: 215px;
    }
}
